body {
  background: linear-gradient(
    69deg,
    rgba(189, 195, 199, 0.9324009324009324) 60%,
    rgba(44, 62, 80, 1) 100%
  );
  background-repeat: no-repeat;
}
.main-container {
  min-height: 110vh;
}

.main-container__row {
  margin-top: 10vh;
}
